
body {
    background: #d8cf80;
}
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 15px;
}

p:before{
    
    content: attr(type);
    display: block;
    margin: 10px ;
}
input {
    margin: 0px 10px;
}

.formulario {
    border: 1px solid rgb(134, 115, 26);
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

table {
    color: rgb(61, 90, 185);
    
}

th {
    width: 150px;
}

button {
    border: 1px solid ;
    border-radius: 4px;
    background: #a89c2e;
}